<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.lucasdup.petri">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".PetriDishWallpaperService"
            android:enabled="true"
            android:label="Culture 1"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/petrish_wallpaper" />
        </service>

        <service
            android:name=".FiftyWormsWallpaperService"
            android:enabled="true"
            android:label="Culture 2"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/fifty_wallpaper" />
        </service>

        <service
            android:name=".HugeWormWallpaperService"
            android:enabled="true"
            android:label="Culture 3"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/one_wallpaper" />
        </service>
        <service
            android:name=".TwoWormsWallpaperService"
            android:enabled="true"
            android:label="Culture 4"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/two_wallpaper" />
        </service>

        <service
            android:name=".CiliaWallpaper"
            android:enabled="true"
            android:label="Cilia"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/two_wallpaper" />
        </service>


    </application>

</manifest>
